# Resource: honeycombio_api_key

Creates a Honeycomb API Key.
For more information about API Keys, check out [Best Practices for API Keys](https://docs.honeycomb.io/get-started/best-practices/api-keys/).

-> This resource requires the provider be configured with a Management Key with `api-keys:write` in the configured scopes.

## Example Usage

{{tffile "examples/resources/honeycombio_api_key/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

API Keys cannot be imported.
