# Resource: honeycombio_board_view

Manages a board view in a Honeycomb flexible board. Maximum of 50 boards views per board.

## Example Usage

### Basic Example

{{tffile "examples/resources/honeycombio_board_view/basic_example.tf"}}

### Comprehensive Example

{{tffile "examples/resources/honeycombio_board_view/comprehensive_example.tf"}}

{{ .SchemaMarkdown | trimspace }}
