# Resource: honeycombio_column

Provides a Honeycomb Column resource.
This can be used to create, update, and delete columns in a dataset.

~> **Warning** Deleting a column is a destructive and irreversible operation which also removes the data in the column.

-> Version 0.38 and later of the Honeycomb Provider include a Feature Toggle which allows the column to be imported and updated automatically if there is a conflict during create instead of throwing an error.
  This is potentially dangerous if the type changes on the update -- switching from `string` to `boolean` and causing dataloss, for example -- and should be used with caution.

## Example Usage

{{tffile "examples/resources/honeycombio_column/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Columns can be imported using a combination of the dataset name and their name, e.g.

```
$ terraform import honeycombio_column.my_column my-dataset/duration_ms
```
