# Resource: honeycombio_marker

Creates a marker. For more information about markers, check out [Annotate the timeline with Markers](https://docs.honeycomb.io/working-with-your-data/customizing-your-query/markers/).

-> Destroying or replacing this resource will not delete the previously created marker.
This is intentional to preserve the markers.

## Example Usage

{{tffile "examples/resources/honeycombio_marker/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}
