# Resource: honeycombio_trigger

Creates a trigger. For more information about triggers, check out [Alert with Triggers](https://docs.honeycomb.io/working-with-your-data/triggers/).

## Example Usage

### Basic Example

{{tffile "examples/resources/honeycombio_trigger/basic_example.tf"}}

### Trigger with PagerDuty Recipient and Severity

{{tffile "examples/resources/honeycombio_trigger/trigger_with_pagerduty_recipient_and_severity.tf"}}

### Trigger with Webhook Recipient and Notification Variable

{{tffile "examples/resources/honeycombio_trigger/trigger_with_webhook_recipient_and_notification_variable.tf"}}

### Baseline Trigger

{{tffile "examples/resources/honeycombio_trigger/baseline_trigger.tf"}}

### Environment-wide Trigger

{{tffile "examples/resources/honeycombio_trigger/environment_wide_trigger.tf"}}

### Trigger with Having

{{tffile "examples/resources/honeycombio_trigger/trigger_with_having.tf"}}

### Trigger with Having COUNT

{{tffile "examples/resources/honeycombio_trigger/trigger_with_having_count.tf"}}

{{ .SchemaMarkdown | trimspace }}

-> **NOTE** The query used in a Trigger must follow a strict subset: the query must contain *exactly one* calculation and may only contain `calculation`, `filter`, `filter_combination` and `breakdowns` fields.
The query's duration cannot be more than four times the trigger frequency (i.e. `duration <= frequency*4`).
See [A Caveat on Time](https://docs.honeycomb.io/working-with-your-data/query-specification/#a-caveat-on-time)) for more information on specifying a query's duration.
For example: if using the default query `time_range` of `7200` the lowest `frequency` for a trigger is `1800`.

Each `recipient` block can either refer to an existing recipient (already present in another burn alert or trigger) or a new recipient.
When specifying an existing recipient, only `id` may be set.
To retrieve the ID of an existing recipient, refer to the [`honeycombio_recipient`](../data-sources/recipient.md) data source.

| Type      | Target              |
| --------- | ------------------- |
| email     | an email address    |
| marker    | name of the marker  |
| pagerduty | _N/A_               |
| slack     | name of the channel |
| webhook   | name of the webhook |

## Import

Single-dataset Triggers can be imported using by using their ID combined with their dataset.
If the Trigger is an environment-wide trigger, the dataset is not provided.

### Trigger

```
$ terraform import honeycombio_trigger.my_trigger my-dataset/bj9BwOb1uKz
```

### Environment-wide Trigger

```
$ terraform import honeycombio_trigger.my_trigger bj9BwOb1uJz
```

You can find the ID in the URL bar when visiting the trigger from the UI.
