# Data Source: honeycombio_auth_metadata

The `honeycombio_auth_metadata` data source retreives information about the API key used to authenticate the provider.

## Example Usage

{{tffile "examples/data-sources/honeycombio_auth_metadata/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
