# Data Source: honeycombio_columns

The columns data source allows the columns of a dataset to be retrieved.

## Example Usage

{{tffile "examples/data-sources/honeycombio_columns/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
