# Data Source: honeycombio_derived_columns

The `honeycombio_derived_columns` data source allows the derived columns of a dataset to be retrieved.

## Example Usage

{{tffile "examples/data-sources/honeycombio_derived_columns/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
