# Data Source: honeycombio_recipient

`honeycombio_recipient` data source provides details about a specific recipient in the Team.

The ID of an existing recipient can be used when adding recipients to triggers or burn alerts.

~> **Warning** Terraform will fail unless exactly one recipient is returned by the search. Ensure that your search is specific enough to return a single recipient ID only.
If you want to match multiple recipients, use the `honeycombio_recipients` data source instead.

## Example Usage

{{tffile "examples/data-sources/honeycombio_recipient/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}

The `type` attribute determines which detail fields are available for filtering:

Type             | Available Fields
-----------------|-------------------------
email            | `address`
marker           | `name`
msteams          | `name`, `url`
msteams_workflow | `name`, `url`
pagerduty        | `integration_name`
slack            | `channel`
webhook          | `name`, `url`

~> **Note** One of `value` or `value_regex` is required for each `detail_filter` block.
