# Data Source: honeycombio_slo

The `honeycombio_slo` data source retrieves the details of a single SLO.  
If you want to retreive multiple SLOs, use the `honeycombio_slos` data source instead.

## Example Usage

{{tffile "examples/data-sources/honeycombio_slo/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
