name: CI

on:
  push:
  pull_request:

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - uses: kvrhdn/gha-buildevents@v1
        with:
          apikey: ${{ secrets.HONEYCOMBIO_APIKEY }}
          dataset: ${{ secrets.HONEYCOMBIO_DATASET }}
          job-status: ${{ job.status }}

      - uses: actions/setup-go@v2
        with:
          go-version: ^1.16

      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.14
          terraform_wrapper: false

      - uses: actions/checkout@v3

      - name: Build
        run: go build -v .

      - name: Test
        env:
          HONEYCOMBIO_APIKEY: ${{ secrets.HONEYCOMBIO_APIKEY }}
          HONEYCOMBIO_DATASET: ${{ secrets.HONEYCOMBIO_DATASET }}
          TF_ACC: 1
        run: |
          ./scripts/setup-testsuite-dataset
          go test -v -coverprofile=coverage.txt -covermode=atomic ./...

      - uses: codecov/codecov-action@v2.1.0
        with:
          file: ./coverage.txt

  fmt:
    name: Formatting
    runs-on: ubuntu-latest

    steps:
      - uses: kvrhdn/gha-buildevents@v1
        with:
          apikey: ${{ secrets.HONEYCOMBIO_APIKEY }}
          dataset: ${{ secrets.HONEYCOMBIO_DATASET }}
          job-status: ${{ job.status }}

      - uses: actions/setup-go@v2
        with:
          go-version: ^1.16

      - uses: actions/checkout@v3

      - name: Check formatting
        run: |
          # install goimports from another directory to not touch go.mod
          pushd ../
          go get golang.org/x/tools/cmd/goimports
          popd

          goimports -l -w .

          if ! git diff --quiet; then
            echo Running goimports has caused changes, please run go fmt
            exit 1
          fi

          go mod tidy

          if ! git diff --quiet; then
            echo 'go mod tidy' has caused changes, please run go mod tidy
            exit 1
          fi
